.mv
  = image_tag('mv@2x.png', class: 'mv-img')
  .mv-text-area
    %h3
      あなたの司法試験学習にプライベート講師を
    %p
      LEAPは司法試験受験界で初となる<br>
      家庭教師マッチングサービスです。<br>
      孤独な勉強生活で悩む受験生の方々を<br>
      サポートするプライベート講師に出会えます。
- if student_signed_in?
  = link_to "ログアウト", destroy_student_session_path, method: :delete
- else
  = link_to "ログイン", new_student_session_path, id: "login-button"
= link_to "講師を見てみる", { :controller => "tutors", :action => "index"}, { :class => "show-all-tutor red-button large-button"}