@import 'reset';
@import 'setting';

#humberger {
    position: fixed;
    top: 4px;
    right: 0;
    z-index: 50;
    width: 45px;
    height: 41px;
    padding: 17px 13.5px;
    cursor: pointer;
    background-color: $accent;
}

#drawernav{
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    background: #444;
    color: #fff;
    z-index: 1;
    padding-top: 40px;
    -webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
       -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
         -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
            transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
 
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
       -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
         -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
            transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

#drawernav li{
    position: relative;
    background-color: #444;
    color: $white;
    border-top: 1px solid #333;
    width: 100%;
    height: 50px;
    &:last-child{
    border-bottom: 1px solid #333;
    }
    &:hover{
        background-color: #333;
    }
}
#drawernav li a{
    line-height: 50px;
    padding-left: 20px;
    color: $white;
}
body.drawer-opened #page{
    left: -240px;
    box-shadow: 1px 0 2px #000;
    -webkit-box-shadow: 1px 0 2px #000;
}
body.drawer-opened .fixed-content{
    left: -240px;
}
body.drawer-opened #drawernav{
    right: 0;
}
body.drawer-opened #humberger .icon-bar{
    background: #fff;
}
body.drawer-opened #humberger :nth-child(1){
    transform:translate(0,8px) rotate(45deg);
    -webkit-transform:translate(0,8px) rotate(45deg);
}
body.drawer-opened #humberger :nth-child(2){
    transform:translate(-20px ,0);
    -webkit-transform:translate(-20px ,0);
    opacity:0;
}
body.drawer-opened #humberger :nth-child(3){
    transform:translate(0,-8px) rotate(-45deg);
    -webkit-transform:translate(0,-8px) rotate(-45deg);
}
body.drawer-opened #overlay{
    z-index: 3;
    opacity: 0.3;
    left: -240px;
}