$base: #F8F6EF;
$base_sub: #f09797;
$accent: #C8533A;
$accent_sub: #AB4631;
$base_text: #585858;
$link_text: #C8533A;
$link_text_sub: #585858;
$white: #FFF;
$gray: #9B9B9B;
$light_gray: #EEE;
$ultra_light_gray: #F6F6F5;
$ocher: #C49C5A;
$top_bar: #8C8476;
$top_bar_bg: #EDE7D2;
//setting
@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Montserrat);
* {
  font-family: "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Montserrat, "游ゴシック体", "Yu Gothic", YuGothic, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif !important;
}
html,body {
  height: 100%;
}
body {
  background-color: $base !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
body,input,textarea,table,h1,h2,h3,h4,h5,h6 {
  line-height: 2.0;
  letter-spacing: 0.08em;
  font-size: 13px;
  color: $base_text;
  font-weight: bold !important;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

p{
  font-weight: lighter;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
h4,h5,h6 {
  font-size: 1em;
}

.row {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: $link_text;
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

::selection {
  background: #dce2e2;
}
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 3px;
}
/*textarea:focus {
  box-shadow: 0 0 7px #1abc9c;
  border: 10px solid #1abc9c;
}*/
input::-webkit-input-placeholder {
    color: #ddd;
    font-weight: lighter;
}
input:-ms-input-placeholder {
    color: #ddd;
    font-weight: lighter;
}
input::-moz-placeholder {
    color: #ddd;
    font-weight: lighter;
}

input[type=submit] {
  @extend .button;
}

.button {
  border-radius: 5px;
  background-color: $accent !important;
  border: 0;
  padding: 10px 0;
  font-weight: bold;
  color: $white;
  &:hover {
    background-color: lighten($base, 3%) !important;
  }
}

.hidden{
  display: none;
}

.dashed{
  border-top: 1px dashed $gray;
  margin: 20px 0 25px;
}

.solid{
  border-top: 1px solid $light_gray;
  margin: 20px 0 25px;
}

.transition, a, .button {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}