@import 'reset';
@import 'flexslider';
@import 'setting';

// base
html, body{
  height: 100%;
   margin: 0px;
   padding: 0px;
}

.container{
  position: relative;
  min-height: 100%;
}
.contents-wrap{
  padding-bottom: 40px;
}

// parts
.red-button{
  display: block;
  background-color: $accent;
  margin: 0 auto;
  border-radius: 3px;
    &:hover{
      background-color: $accent_sub;
    };
}
.red-button a{
  color: $white;
}

.red-frame-button{
  box-sizing:border-box;
  background-color: $white;
  border: 1px solid $accent;
  margin: 0 auto;
  color: $accent;
  border-radius: 3px;
    &:hover{
      background-color: $accent;
      color: $white
    };
}

.red-frame-button a{
  color: $accent;
    &:hover{
      color: $white;
    }
}

.large-button{
  width: 90%;
  height: 50px;
}

.small-button{
  width: 48.5%;
  height: 45px;
  line-height: 48px;
  text-align: center;
}

.red-button p, .red-frame-button p{
  font-weight: bold;
}

// header
header{
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: $white;
  border-top: 4px solid $accent;
}

.logo{
  display: inline-block;
  width: 65px;
  margin: 15px;
}

.mv{
  width: 100%;
  position: relative;
}

.mv-img{
  width: 100%;
  text-align: center;
  z-index: 1;
}

.mv-text-area{
  text-align: center;
  position: absolute;
  bottom: 60px;
}

.mv-text-area{
  text-align: center;
  width: 100%;
}
.mv-text-area h3{
  text-align: center;
}

.mv-text-area p{
  margin-top: 15px;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
}

.show-all-tutor{
  position: relative;
  color: $white;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
  font-size: 1.1em;
  margin-bottom: 0px;
}

.show-all-tutor a{
  color: $white;
}

#login-button{
  padding-left: 150px;
}

// footer
footer{
  position: absolute;
  background-color: #3F5468;
  width: 100%;
  height: 40px;
  color:  #ccc;
  text-align: center;
  line-height: 40px;
  font-size: 0.8em;
  bottom: 0;
}

//show.html.haml
.contents-bg{
  width: 94%;
  background-color: $white;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-top: 20px;  
  padding-bottom: 25px;
  border: 1px solid $light_gray;
}

.tutor-prof{
  width: 22.5%;
  height: auto;
  margin: 0 0 0 5.5%;
  float: left;
}

.tutor-meta-right{
  float: left;
  margin: 0 0 0 4.5%;
  width: 60%;
}

.tutor-kana{
  font-size: 0.7em;
  font-weight: lighter;
  margin-bottom: -5px;
}

.tutor-name{
  font-size: 1.25em;
}

.tutor-meta-line{
  border-top: 1px solid #C49C5A;
  margin: 3px 0 5px;
}

.tutor-status{
  font-size: 0.7em;
  color: $gray;
}

.tutor-page-text{
  margin: 15px 20px 20px;
}
.tutor-proftext{
}
.tutor-story{
  margin-bottom: 50px;
}
.tutor-message{
  margin-bottom: 50px;
}
.lesson-pic{
  display: block;
  width: 90% !important;
  height: auto;
  margin: 20px auto !important;
}
.section-header{
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 1.10em;
  border-left: 4px solid $accent;
  margin: 0 0 10px;
}
.section-header h2{
  margin-left: 16px;
  font-size: 1.1em;
  line-height: 35px;
}

.flexslider{
  margin-bottom: 50px;
}

dl.lesson-list {
  width: 94%;
  margin: 0 auto;
  margin-top: 20px;
  border:1px solid $light_gray;
  background: $ultra_light_gray;
  font-weight: lighter;
  margin-bottom: 15px;
}

dl.lesson-list dt {
   float:left;
   width:32%;
   padding:10px;
}

dl.lesson-list dd {
  display: block;
  margin-left:32%;
  padding:10px;
  border-left:1px solid $light_gray;
  background: $white;
  line-height: 2em;
}

hr.lesson-list-line{
  border: 0;
  height: 1px;
  background-color: $light_gray;
}

.button-wrap{
  width: 94%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.apply-for-lesson{
  float: left;
}
.ask-tutor{
  float: left;
  margin-left: 3%;
}

//index.html.haml
.tutor-outline{
  display: blcok;
  margin-top: 20px;
  color: $base-text;
}

//signup
.top-bar{
  width: 100%;
  height: 40px;
  background-color: $top-bar-bg;
  color: $top-bar;
  font-size: 1.1em;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
}

.form-area-signup{
  width: 89%;
  margin: 0 auto;
}

.field{
  margin-bottom: 15px;
}

.field label{
  color: $gray;
}

.field input{
  border: 1px solid $light_gray;
  margin-top: 5px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
}

.field span{
  color: $gray;
  font-size: 0.8em;
}

.textarea{
  width: 100%;
}

.form-area-signup input{
  height: 45px;
}

.signup{
  margin: 40px 0 60px;
  width: 100%;
}

.login{
  margin: 0 0 20px;
  width: 100%;
}

.chenge-pw{
  margin: 40px 0 20px;
  width: 100%;
}

.login-text{
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-size: 0.9em;
  color: $gray;
  &:hover{
    text-decoration: underline;
  };
}

@media (min-width: 768px) {
}

@media (min-width: 1000px) {

}