%header
  .header_inner.clearfix
    = link_to root_path, :class => 'navbar' do
      = image_tag('logo@2x.png', class: 'logo')
    / .menu-box
    /   %a{:href => '/', :class => 'menu'}
    /     %span{:class => 'menu-line'}
    /     %span{:class => 'menu-line'}
    /     %span{:class => 'menu-line'}