.navbar
  .container
    %header
      .header_inner.clearfix
        = link_to root_path, :class => 'navbar' do
          = image_tag('logo@2x.png', class: 'logo')
        .menu-box
          %a{:href => '/', :class => 'menu'}
            %span{:class => 'menu-line'}
            %span{:class => 'menu-line'}
            %span{:class => 'menu-line'}
    = image_tag('mv@2x.png', class: 'mv')
    .mv-text-area
      %h3.concept
        あなたの司法試験学習にプライベート講師を
      %p.mv-text
        LEAPは司法試験受験界で初となる<br>
        家庭教師マッチングサービスです。<br>
        孤独な勉強生活で悩む受験生の方々を<br>
        サポートするプライベート講師に出会えます。
    %footer
      %p copyright © 2016 hoge.inc